:root {
  --primaryBackground: #343a40;
  --primaryText: #17a2b8;
  --secondaryBackground: #ffffff;
}

body {
  background-image: url(../assets/images/compass-and-world-map.jpg);
  background-size: 100%;
}

.navbar {
  font-family: "Anton", sans-serif;
}

body {
  font-family: "Merriweather Sans", sans-serif;
}

.navbar-nav {
  margin: 0px 20px 0px 20px;
}

#btnId {
  margin-left: 5px;
}

.nav-link,
.navbar-brand {
  color: var(--primaryText);
}

.result-card {
  width: 50vw;
  margin: 0 auto;
  margin-top: 30vh;
}
